@import "font";
@import "variables";
@import "global";

@import "components/table";
@import "components/button";
@import "components/input";
@import "components/header";
@import "components/menu";
@import "components/carte";
@import "components/calendrier";
@import "components/chart";
@import "components/widget";
@import "components/tab";
@import "components/segment";
@import "components/label";
@import "components/joyride";
@import "pages/login";
@import "pages/vehicule";
@import "pages/profile";
@import "pages/dashboard";

// User app
@import "user/general";
@import "user/menu";
@import "user/demande";

.flex{
  display: flex;
  width: 100%;

  &.h-100{
    height: 100%;
  }

  &.flex-row{
    flex-direction: row;
  }

  &.flex-column{
    flex-direction: column;
  }

  .flex-start{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .flex-center{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .flex-end{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.comment{
  .user_avatar img{
    width: 35px;
    height: 35px;
  }
}
.form.reply{
  button{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 768px){
  .row{
    .sixteen.wide.mobile{
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      padding-left: 0 !important;
      padding-right: 0 !important;

      &:first-child{
        padding-top: 0 !important;
      }

      &:last-child{
        padding-bottom: 0 !important;
      }
    }
  }
}