html, body, #root, .App, .App>div{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: block;
  position: relative;
  background-color: $fond;
}

h1, h2, h3, h4, h5, p, a{
  color: $primary-dark;
  font-family: "Roboto", serif;
}

h1, h2, h3, h4, h5, p, a{
  color: $primary-dark;
  font-family: "Roboto", serif;
}

a{
  color: $dark;
  text-decoration: underline;
}

#zoneBody{
  padding: 10px;
  min-height: 92%;
  margin-top: 40px;
}

.hidden{
  display: none;
}

// Override Semantic UI
.ui.grid{
  margin: 0;

  &>.column:not(.row){
    padding: 0;
    margin: 0;
  }
}

.ui.segment{
  border-radius: .375rem !important;
  border: 0 !important;
  background-color: $white;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;

  .header{
    p.description{
      color: #6f6f6f;
    }
  }
}

.user{
  .ui.segment{
    padding: 0 !important;

    .header{
      padding: 15px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      p{
        margin-bottom: 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }

      &>.button{
        display: flex;
        justify-content: flex-end;
        width: 100%;

        button{
          margin: 0 !important;
        }
      }
    }

    .body{
      border-top: 1px solid $grey;
      min-height: 50px;

      .table{
        border: none !important;
      }
    }
  }
}

.fullPage{
  min-height: 92vh;
  &.centrer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.pointer{
  cursor: pointer;
}

