$menu-color: #25304c;
$menu-color-hover: #303b55;
$text-color-negatif: #d7d9dd;
$aileAbeille: #e9b23d;
$fond : #f0f0f7;
//$fond : #4D4F5C;

$primary-color: #FFC038;
$primary-dark: #212121;
$dark: black;
$grey: #ebebeb;
$white: #FFFFFF;
$red: #e53935;

$border-grey: #D7DAE2;
$font-dark: #4D4F5C;

$box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;

$label_green: rgba(105,228,166,0.6);
$label_orange: rgba(255, 202, 131, 0.6);
$label_orange: rgba(255, 202, 131, 0.6);

$segment_header: #f8f9fc;

// Width dahsboard
$open_menu_dashboard: 16rem;
$close_menu_dashboard: 5rem;

$widget_icon: #e4e4e6;