.demande_add{
  .link_add_etape{
    cursor: pointer;

    &:hover{
      color: $primary-color;
    }
  }

  .input{
    button{
      margin: 0 !important;
      border-top-right-radius: .28571429rem !important;
      border-bottom-right-radius: .28571429rem !important;
    }
  }

  .progress{
    margin-bottom: 20px;

    .item{
      padding: 15px 15px;

      .icon{
        color: $grey;
        font-size: 35px;
      }

      .text{
        color: $grey;
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 8px;
      }

      &.active{
        border-bottom: 5px solid $primary-color;

        .icon{
          color: $primary-color;
        }

        .text{
          color: $primary-dark;
        }
        //
        //&:first-of-type{
        //  border-bottom-left-radius: .375rem !important;
        //}
        //
        //&:last-of-type{
        //  border-bottom-right-radius: .375rem !important;
        //}
      }
    }
  }
}