.user{
  section{
    margin-top: 100px;
    height: calc(100% - 100px);

    @media screen and (max-width: 768px){
      margin-top: 70px;
    }
  }

  table td{
    padding: 15px;

    button{
      margin: 0 !important;
    }
  }

  .home_message{
    padding-top: 0 !important;
  }
}