.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $menu-color;
  justify-content: space-between;
  z-index: 100;

  .nav-brand {
    color: $white;
    margin-left: 0.9375rem;
    margin-right: auto;
    margin-bottom: 0;

    a.nav-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      //color: #393e46;
      color: $white;
      letter-spacing: 0.3rem;

      img{
        width: 150px;
        height: auto;
      }
    }
  }

  ul.nav-menu {
    list-style: none;
    display: flex;

    a.nav-menu-link {
      padding: 0.9375rem;
      margin: 0 0.9375rem;
      color: $white;
      font-weight: normal;
      text-decoration: none;

      .svg-inline--fa{
        margin-right: 5px;
      }

      @media screen and (max-width: 900px){
        .svg-inline--fa{
          display: none;
        }
      }

      &.active{
        color: $primary-color;
      }
    }
  }



  .hamburger-icon, span.hamburger-line {
    display: none;
  }

  .hamburger-icon {
    width: 2.25rem;
    height: 1.625rem;
    margin-right: 0.9375rem;
    position: relative;
    cursor: pointer;
  }

  span.hamburger-line {
    background-color: #fafcf8;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
  }

  .hamburger-icon span:nth-of-type(1) {
    top: 0;
  }

  .hamburger-icon span:nth-of-type(2) {
    top: 0.6875rem;
  }

  .hamburger-icon span:nth-of-type(3) {
    bottom: 0;
  }

  .hamburger-icon.active span:nth-of-type(1) {
    transform: translateY(11px) rotate(-45deg);
  }

  .hamburger-icon.active span:nth-of-type(2) {
    display: none;
  }

  .hamburger-icon.active span:nth-of-type(3) {
    transform: translateY(-8px) rotate(45deg);
  }

  @media screen and (max-width: 785px) {
    .hamburger-icon, span.hamburger-line {
      display: inline-block;
      transition: all 0.4s;
    }
  }
}

.side-nav {
  position: fixed;
  //top: 5rem;
  top: 0;
  left: -50em;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0.94;
  overflow-x: hidden;
  background-color: $menu-color;
  transition: 0.5s;

  &.open{
    left: 0;
  }

  ul.side-nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li.side-nav-item {
      position: relative;
      margin-bottom: 0.9375rem;

      a.side-nav-link {
        color: #fafcf8;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        cursor: pointer;

        &.active{
          color: #fafcf8;
          font-size: 1.28571429rem;
          font-weight: 700;
        }
      }

      img.app_logo{
        max-width: 200px;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .side-nav {
    display: flex;
    left: -100%;
  }

  ul.nav-menu {
    display: none !important;
  }
}