button{
  background: $primary-color !important;
  color: $white !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;

  &.red{
    background-color: $red !important;
  }

  &.margin-top-none{
    margin-top: 0 !important;
  }

  &.icon-before{
    .svg-inline--fa{
      margin-right: 5px;
    }
  }

  &.button-bottom{
    align-self: flex-end;
  }

  &.button-select{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: .8571429em 1.5em .8571429em !important;
  }
}

.floatingButton{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: $primary-color;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  //box-shadow: 0px 2px 5px #666;
  box-shadow: $shadow;
  cursor: pointer;

  .add{
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px){
  .floatingButton{
    right: 20px;
    bottom: 25px;
  }
}