.calendar {
  display: block;
  position: relative;
  width: 100%;
  //background: var(--neutral-color);
  background: $white;

  .vertical-center{
    display: flex;
    align-items: center;
    height: 100%;
  }

  .row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .row-middle {
    align-items: center;
  }

  .col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-start {
    justify-content: flex-start;
    text-align: left;
  }

  .col-center {
    justify-content: center;
    text-align: center;
  }

  .col-end {
    justify-content: flex-end;
    text-align: right;
    display: flex;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
  }

  .body{
    border-bottom: 1px solid $grey;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;

    .cell {
      position: relative;
      //height: 4em;
      min-height: 3em;
      border-right: 1px solid $grey;
      overflow: hidden;
      background: var(--neutral-color);
      transition: 0.25s ease-out;

      &.title{
        align-items: center;
        display: flex;
        justify-content: center;
      }

      &:hover {
        background: var(--bg-color);
        transition: 0.5s ease-out;
      }

      &:last-child {
        border-right: none;
      }

      &>div{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .event{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 3px 0 3px 0;
          margin: 0;
          cursor: pointer;
          color: $white;
        }
      }
    }

    .selected {
      border-left: 10px solid transparent;
      border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
      border-image-slice: 1;
    }

    .row {
      border-bottom: 1px solid $grey;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .f-left{
    float: left;
  }

  .group-button{
    button{
      margin: 0 !important;
      padding: 0.5em 1em 0.5em;
      border-top: 1px solid $border-grey;
      border-bottom: 1px solid $border-grey;
      background: $white !important;
      color: $primary-dark !important;
      line-height: initial;
      border-radius: 0;

      &.active{
        background: $primary-color !important;
        border-color: $primary-color;
        color: $white !important;

        &:first-child{
          border-left: 1px solid $primary-color;
          border-right: none;
        }

        &:last-child{
          border-left: none;
          border-right: 1px solid $primary-color;
        }
      }

      &:first-child{
        border-left: 1px solid $border-grey;
        border-right: none;
        border-radius: .28571429rem 0 0 .28571429rem;
      }

      &:last-child{
        border-left: none;
        border-right: 1px solid $border-grey;
        border-radius: 0 .28571429rem .28571429rem 0;
      }

      .icon{
        margin: 0 !important;
      }
    }
  }

  .header {
    text-transform: uppercase;
    padding: 0 0 1.5em 0;

    .title {
      padding-left: 20px;
      color: $font-dark;
      font-weight: bold;
    }

    button{
      &:hover{
        cursor: pointer;
      }

      .icon{
        margin: 0 !important;
      }
    }
  }

  .days{
    background: $grey;
    padding: .75em 0;
    border-bottom: 1px solid $grey;
    text-transform: capitalize;
    font-weight: bold;
  }

  .body, .days{
    &.day .col{
      flex-basis: calc(100% - 125px);
      flex-grow: 0;
      width: calc(100% - 125px);

      &:first-of-type{
        flex-basis: 125px;
        flex-grow: 0;
        width: 125px;
      }
    }

    &.week .col{
      flex-basis: calc(100% / 8);
      flex-grow: 0;
      width: calc(100% / 8);
    }
  }
}

