.leaflet-container {
  position: absolute !important;
  height: calc(100% - 60px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 20px);
}