.dashboard.open .headerAdmin{
  width: calc(100% - 16rem) !important;
}

.dashboard .headerAdmin{
  width: calc(100% - 5rem) !important;
}

.headerAdmin{
  display: flex;
  flex-direction: row;
  padding: 8px 30px 8px 10px;
  position: fixed;
  z-index: 999;

  background-color: $white;

  .hamburger-icon{
    margin-top: 2.5px;

    .svg-inline--fa{
      font-size: 20px;
      cursor: pointer;
    }
  }

  .notification{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    color: $grey;
    cursor: pointer;

    .icon{
      position: relative;
    }

    .hasNotification{
      position: absolute;
      top: 3px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #FFC038;
    }
  }

  .divider{
    height: 20px;
    width: 1px;
    margin-left: 15px;
    margin-right: 15px;
    border-left: 1px solid $grey;
  }

  .user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .ui.dropdown{
      i{
        margin-left: 5px;
      }
    }

    .headerIcon{
      //margin-left: 15px;
      margin-right: 10px;

      img{
        width: 25px;
      }
    }
  }

  .header_item{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .svg-inline--fa{
      margin-right: 10px;
    }
  }

  .ui.dropdown .menu {
    left: -30px !important;
    top: 30px !important;
  }
}