input[type="text"], input[type="password"], .select, .dropdown {
  //border: none !important;
  //border-radius: 0 !important;
  //border-bottom: 2px solid $grey !important;

  &:focus{
    //border-bottom: 2px solid $primary-color !important;
    border-color: $primary-color !important;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
  }
}


.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after,
.ui.checkbox .box:after, .ui.checkbox label:after{
  color: $primary-color !important;
}