.react-joyride__tooltip{
    button[title="Close"]{
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
}

.tooltip_body{
  background-color: #fff;
  min-width: 450px;
  max-width: 700px;
  position: relative;
  border-radius: .375rem !important;

  .tooltip_title{
    color: $primary-color;
    padding: 20px;
    margin: 0;
    text-align: center;
  }

  .tooltip_content{
    color: #000;
    padding: 20px;
    text-align: center;
  }

  .tooltip_footer{
    padding: 0 20px 5px 20px;

    .stop_show{
      margin-top: 10px;
    }

    .div_btn{
      display: flex;

      .btn_start{
        justify-content: flex-start;
      }

      .btn_end{
        margin-left: auto;
        justify-content: flex-end;

        .btn_next{
          margin-left: 10px !important;
        }

        .btn_close{
          margin-left: 20px;
        }

        button{
          margin-right: 0 !important;
        }
      }
    }
  }
}