.ui.green.label, .ui.green.labels .label{
  background-color: $label_green !important;
  color: $primary-dark !important;
  padding: 0.5em 10px !important;
  font-weight: normal !important;
}

.ui.orange.label, .ui.orange.labels .label{
  background-color: $label_orange !important;
  color: $primary-dark !important;
  padding: 0.5em 10px !important;
  font-weight: normal !important;
}

.ui.rouge.label, .ui.rouge.labels .label{
  background-color: $label_orange !important;
  color: $primary-dark !important;
  padding: 0.5em 10px !important;
  font-weight: normal !important;
}