.dashboardMenu{
  background-color: $menu-color;
  height: 100%;
  position: fixed;
  //width: 240px;
  //width: 16rem;
  margin-bottom: -2vh;

  .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .default_logo{
      height: auto;
      width: 10vw;
    }

    .little_logo{
      height: auto;
      width: 3em;
      padding: 30px 0;
    }
  }
}

.userMenuButton{
  padding-top: 10px;
  padding-bottom: 10px;
  color: $white;

  cursor: pointer;

  .icon{
    margin-left: 25px;
  }
  .title{
    margin-left: 15px;
  }

  &:hover, &.active{
    border-left: 5px solid $primary-color;
    background-color: $menu-color-hover;

    .icon{
      margin-left: 20px;
      color: $primary-color;
    }
  }
}

.link{
  text-decoration: none;
}