.ui.segment{
  padding: 0 !important;
  background-color: $white;
  //-webkit-box-shadow: $shadow;
  //-moz-box-shadow: $shadow;
  //box-shadow: $shadow;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;

  &>.header{
    background-color: $segment_header !important;
    padding: 15px 15px;
    border-bottom: 1px solid #e3e6f0 !important;
    border-top-left-radius: .375rem !important;;
    border-top-right-radius: .375rem !important;;

    button{
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &.colored{
      .title{
        color: $primary-color !important;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0 !important;
        display: flex;
        align-items: center;
      }
    }
  }

  &>.body{
    padding: 15px 15px;
  }
}