.ui.menu{
  border-radius: 0;
  border: none;
  background-color: $white !important;
  box-shadow: none !important;

  .item{
    background-color: $white !important;
    color: $primary-dark !important;
    border-radius: 0 !important;
    padding: 1.4em 1.9em !important;
    font-weight: bold;
    font-size: 15px;

    &.active{
      border-bottom: 2px solid $primary-color !important;
      color: $primary-color !important;
    }

    &:before{
      background: transparent !important;
    }
  }
}

.ui.tab{
  .segment{
    box-shadow: none !important;
  }
}