.table{
  margin-top: 0px !important;


  &.table_center{
    text-align: center !important;
  }

  td{
    padding: 10px 0 !important;

    button{
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.last_demande, .last_reservation{
  td{
    padding: 20px 11px !important;
  }
}


/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  width: 100%;
  text-align: center;

  th{
    padding: .92857143em .78571429em
  }

  td{
    border-top: 1px solid rgba(34,36,38,.1) !important;
  }
}

.responsiveTable td .tdBefore {
  display: none;
}

@media screen and (max-width: 40em) {
  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    //border: 1px solid #000;
    border-bottom: 1px solid rgba(34,36,38,.1);
    padding: .70em 0;

    &:first-of-type{
      padding: 0 0 .70em 0;
    }

    &:last-of-type{
      border-bottom: none !important;
    }

    td{
      button{
        margin: 0 !important;
      }

      &:last-of-type{
        button{
          width: 100%;
        }
      }
    }
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    //padding-left: 50% !important;
    padding: 4px 0;
    text-align: right !important;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    //left: 1rem;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left !important;
    font-weight: 600;
  }
}