.widget{
  a{
    text-decoration: none !important;
  }

  .label.widget_title{
    margin-bottom: 20px !important;
    display: block;
  }

  &.widget_link_chart{
    display: block;
    border-left: 5px solid $primary-color !important;

    .body{
      padding: 20px 15px !important;
    }

    .widget_title{
      color: $primary-color;
      text-transform: uppercase;
    }

    div{
      span.widget_value{
        //align-items: flex-start;
        //justify-content: flex-start;
        //width: 100%;

        //span{
          //display: flex;
          //justify-content: center;
          //flex-direction: column;
          //width: 100%;
          //height: 100%;
        display: flex;
          margin-top: 7px;

          color: $primary-dark;

          span.big{
            font-size: 24px;
            font-weight: bold;
          }
          
          span.little{
            font-size: 12px;
            font-weight: normal;
            margin-left: 10px;
          }
        //}
      }

      .widget_icon{
        align-items: center !important;

        .svg-inline--fa{
          color: $widget_icon;
          font-size: 50px;
        }
      }
    }
  }

  &.widget_details{
    a.link{
      display: block;

      .svg-inline--fa{
        color: $primary-color;
      }

      span{
        margin-left: 10px;
      }

      &:hover{
        color: $primary-dark;
        text-decoration: none;
      }
    }
  }

  table{
    td{
      padding: 20px 11px !important;
    }
  }
}