.ruban{
  background-color: red
}

.dashboard{
  display: flex;

  .dashboardMenu{
    width: $close_menu_dashboard;

    .logo{
      .default_logo{
        display: none;
      }
      .little_logo{
        display: flex;
      }
    }

    .userMenuButton{
      span.title{
        display: none;
      }
    }
  }

  &>.body{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: calc(100% - #{$close_menu_dashboard});
    margin-left: $close_menu_dashboard;
  }

  &.open{
    .dashboardMenu{
      width: $open_menu_dashboard;
      
      .logo{
        .default_logo{
          display: flex;
        }
        .little_logo{
          display: none;
        }
      }

      .userMenuButton{
        span.title{
          display: inline-block;
        }
      }
    }

    &>.body{
      width: calc(100% - #{$open_menu_dashboard});
      margin-left: $open_menu_dashboard;
    }
  }
}