#login{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: $menu-color;
  overflow: hidden;
  //background-image: url("/public/images/Background_beebeecar2.svg");

  .login_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login_logo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;

      img{
        max-width: 200px;
      }
    }

    &>div.box{
      min-width: 35%;
      padding: 20px 40px;
      background-color: $white;
      border-radius: .375rem !important;
      border: 0 !important;
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      box-shadow: $shadow;

      .center{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @media screen and (max-width: 768px){
        .flex.flex-row{
          flex-direction: column;
        }

        .flex-start, .flex-end{
          display: block;
          width: 100%;
        }
        
        .forgot_password{
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }

  #error{
    color: $red;
  }

  @media screen and (max-width: 768px){
    .login_form{
      .box{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 468px){
  #login{
      background-color: #FFFFFF !important;
      background-image: none !important;
  }
}

