.profile{
  .item{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user_icon{
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 0;

    .user_icon img{
      max-width: 150px;
      height: auto;
      position: relative;
    }

    .user_icon_hover{
      background: #fec0387a;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer;
      display: none;
    }

    &:hover{
      .user_icon_hover{
        /*display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 15px;*/
      }
    }
  }

  .profile_name{
    margin-top: 20px;
    font-size: 16px;
  }

  .password{
    margin-top: 50px;
  }
}