<mjml>
  <mj-head>
    <mj-title>BeeBeeCar</mj-title>
    <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto:300,500"></mj-font>
    <mj-attributes>
      <mj-all font-family="Roboto, Helvetica, sans-serif"></mj-all>
      <mj-text font-weight="300" font-size="16px" color="#212121" line-height="24px"></mj-text>
      <mj-section padding="0px"></mj-section>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section padding-top="20px">
      <mj-column width="100%">
        <mj-image href="https://beebeecar.tk" src="https://beebeecar.tk/LogoNoir_email.png" width="200px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column width="50%">
        <mj-divider border-width="2px" border-color="#212121"></mj-divider>
      </mj-column>
    </mj-section>
    <mj-section padding-top="30px">
      <mj-column width="100%">
        <mj-text align="center" color="#FFC038" font-size="24px" font-weight="500">Création de votre compte sur BeeBeeCar</mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="10px">
      <mj-column width="100%">
        <mj-text align="center">Votre compte BeeBeeCar vient d'être crée, retrouvez ci-dessous vos informations de connexion.</mj-text>
        <mj-text align="center"><strong>Identifiant :</strong> #email_utilisateur</mj-text>
        <mj-text align="center"><strong>Mot de passe :</strong> Il vous sera transmis par votre administrateur</mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="30px">
      <mj-column width="100%">
        <mj-button background-color="#FFC038" color="white" font-size="18px" text-align="center" href="https://beebeecar.tk">
            Accéder à mon espace personnel
         </mj-button>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0px">
      <mj-column width="100%">
        <mj-text align="center" font-size="14px">Message envoyé automatiquement depuis <a href="https://beebeecar.tk">BeeBeeCar.tk</a></mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>